.swiper-slide div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}


#comentarios {
    
    #comentarios-titulo{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .swiper {
       z-index: 0;

        .swiper-slide {
           z-index: 0;
        }

        .swiper-button-prev, .swiper-button-next {
            color: $color-destacado;
        } 
    }
}