header {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    #menuBtn {
        display: none;
    }

}

#menu-section {
    display: none;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.open {
        position: fixed;
        z-index: 1;
        display: block;
    }
}


@media (max-width: 1024px) {
    header {
        nav {
            display: none;
        }

        #pedir-cita-btn {
            display: none;
        }

        #menuBtn {
            display: block;
            cursor: pointer;
            border-radius: 100%;
            padding: 5px;
            transition: all ease 0.3s;

            &:hover {
                background-color: $color-secundario;
            }
        }
    }
}