
#encontrarnos {

    > section {
        display: flex;
        flex-direction: row;
    }
}

#servicios {


    #servicios-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
    }

    section:first-child {
        display: flex;
        justify-content: space-between;
    }

}


