@mixin small {
    @media only screen and (max-width: 700px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1800px) {
        @content;
    }
}