#preguntas {

    #preguntas-titulo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 25px;


        details {
            summary {
                display: flex;
                align-items: center;
                gap: 15px;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}